html
  head
    title Götür - Götür Bi Mutluluk
    <link rel="icon" type="image/png" href="https://getir.com/images/icons/android-icon-192x192.png   ">
    script(src="https://unpkg.com/axios@0.18.0/dist/axios.min.js")
    style
      include style.css

    script.
        console.log('hello there 👋')

  body
    block content